body{
    background-color: #121212;
    color:lightgrey;
    background-image: url(
        "../img/binding_dark.jpg")
}

.navbar{
    background-color: rgb(43, 40, 40);
    background-image: url("../img/tactile_noise.jpg");
    border-radius: 30px;
    position: sticky;
    top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.6);
}

.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 15px 20px;
}

.navbar li a{
    padding: 3px 4px;
    text-decoration: none;
}

.fContainer{
    display: flex;
    background-color:#121212;
    height: 200px;
    flex-direction: row;
    align-content: space-around;
    align-items: left;
    border-radius: 15px;
    box-shadow:0px 15px 10px rgba(0,0,0,0.15);
}

.fItem{
    width:fit-content;
    padding: 8px;
    margin: 10px;
    background-color: #201f1f;
    border-radius: 15px;
    box-shadow:0px 15px 10px rgba(0,0,0,0.15);

}